<div class="heading" id="toc">
    <h2>目录</h2>
</div>

<div class="section toc">
    <div class="col">
        <h4><a href="#naming">命名规则</a></h4>
        <ul>
            <li><a href="#folder-naming">文件夹命名</a></li>
            <li><a href="#component-naming">文件命名</a></li>
            <li><a href="#component-naming">组件命名</a></li>
            <li><a href="#class-naming">ClassName的命名规则</a></li>
        </ul>
    </div>
    <div class="col">
        <h4><a href="#javascript">CSS</a></h4>
        <ul>
            <li><a href="#js-variable-naming">ClassName的命名规则</a></li>
        </ul>
    </div>    
    <div class="col">
        <h4><a href="#javascript">JavaScript</a></h4>
        <ul>
            <li><a href="#js-variable-naming">变量命名</a></li>
        </ul>
    </div>
</div>
