<div class="heading" id="javascript">
    <h2>JavaScript</h2>
</div>
<div class="section" id="js-variable-naming">
    <div class="col">
        <h3>变量命名</h3>
        <ul>
            <li>标准变量采用驼峰式命名（</li>
            <li>'ID'在变量名中全大写</li>
            <li>'URL'在变量名中全大写</li>
            <li>'Android'在变量名中大写第一个字母</li>
            <li>'iOS'在变量名中小写第一个，大写后两个字母</li>
            <li>常量全大写，用下划线连接</li>
            <li>构造函数，大写第一个字母</li>
            <li>jquery对象必须以'$'开头命名</li>
        </ul>
    </div>
    <div class="col">
        {% highlight javascript %}{% include javascripts/variable_naming.js %}{% endhighlight %}
    </div>
</div>