<div class="heading" id="naming">
  <h2>命名规则</h2>
</div>

<div class="section" id="folder-naming">
    <div class="col">
        <h3>文件夹命名</h3>
        <p>使用kebab-case命名的命名方式</p>
        <p>例：project-name</p>
    </div>
</div>

<div class="section" id="file-naming">
    <div class="col">
        <h3>文件命名</h3>
        <h4>* .vue文件命名规范</h4>
        <p>除了index.vue, 其他使用PascalCase命名风格</p>
        <p>例：SidebarItem</p>        
        <h4>* .js文件命名规范</h4>
        <p>属于类的.js文件，除index.js外，使用PascalBase风格</p>
        <p>其他类型的.js文件，使用kebab-case风格</p>
        <p>属于Api的，统一加上Api后缀</p>        
        <h4>* .less文件命名规范</h4>
        <p>统一使用kebab-case命名风格</p>
    </div>
</div>
